@tailwind base;
@tailwind components;
@tailwind utilities;

#header-container {
  background-image: url('./src/assets/images/header-bg-pattern.svg');
  background-repeat: no-repeat;
  background-size: 800px;
  background-position: 90% 70%;
}
