@tailwind base;
@tailwind components;
@tailwind utilities;

/* #header-container {
  background-image: url('./src/assets/images/header-bg-pattern.svg');
  background-repeat: no-repeat;
  background-size: 800px;
  background-position: 90% 70%;
} */

/* #header-container {
  background: rgb(253, 240, 237);
  background: linear-gradient(
    180deg,
    rgba(232, 196, 104, 0.) 0%,
    rgba(252, 236, 233, 1) 35%,
    rgba(253, 240, 237, 1) 100%
  );
} */
